version: "3.9"

networks:
  app_network:
    driver: bridge

services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - app_network
    volumes:
      - .:/app
      - ./outputs:/app/outputs
      - ./mlruns:/app/mlruns
      - ./mlartifacts:/app/mlartifacts
      - ./feature_repo:/app/feature_repo
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - app_network

  feast-server:
    image: feastdev/feature-server:latest
    container_name: feast-server
    ports:
      - "6566:6566"
    environment:
      - FEAST_USAGE=False
    volumes:
      - ./feature_repo:/app/feature_repo
    command: feast serve --host 0.0.0.0 --port 6566
    depends_on:
      - redis
    networks:
      - app_network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - fastapi
    networks:
      - app_network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - ./grafana:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - app_network