

networks:
  app_network:
    driver: bridge

services:
  fastapi:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - OLLAMA_BASE_URL=http://host.docker.internal:11434

    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - app_network
    volumes:
      - .:/app
      - ./outputs:/app/outputs
      - ./mlruns:/app/mlruns
      - ./mlartifacts:/app/mlartifacts
      - ./feature_store:/app/feature_store
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000 --workers 4

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001"
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - app_network


  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - app_network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - fastapi
    networks:
      - app_network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - ./grafana:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "8501:8501"
    networks:
      - app_network
    environment:
      - API_URL=http://fastapi:8000

  monitoring_dashboard:
    build:
      context: ./monitoring_app
      dockerfile: Dockerfile
    container_name: monitoring_dashboard
    ports:
      - "8502:8502"
    depends_on:
      - fastapi
    networks:
      - app_network
    volumes:
      - ./outputs:/app/outputs
    environment:
      - API_URL=http://fastapi:8000

volumes:
  redis_data:
  qdrant_data:
